<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test-call</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button (click)="startCall()">Start Call</ion-button>
    <!-- <ion-button (click)="endCall()">End Call</ion-button>
    <ion-button (click)="toggleAudio()">Toggle Audio</ion-button>
    <ion-button (click)="toggleVideo()">Toggle Video</ion-button>
    <ion-button (click)="switchCamera()">Switch Camera</ion-button> -->
  </div>
</ion-content>
